BasedOnStyle: Google
Standard: Latest
ColumnLimit: 100
IndentWidth: 2
UseTab: Never
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
PointerAlignment: Left
ReferenceAlignment: Left
SpaceAfterTemplateKeyword: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^"'
    Priority: 1
  - Regex: '^<drm-cxx/'
    Priority: 2
  - Regex: '^<(xf86|drm|gbm|libinput|xkb|vulkan)'
    Priority: 3
  - Regex: '^<'
    Priority: 4
